@charset "UTF-8";
/* CSS Document */

header {
  overflow: hidden;
}

#header_logo {
  height: 120px;
  width: auto;
  margin: 20px;
}

.header_box {
  float: left;
}

/* clearfix */
header:before,
header:after {
    content: "";
    display: table;
}

header:after {
    clear: both;
}

body{
  font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  color: #535353;
}

h1 {
  font-size: 200%;
  color: #535353;
  font-weight:bold;
  margin:20px 0;
}
h2 {
  font-size: 150%;
  color: #535353;
  font-weight:bold;
  margin:20px 0;
}

article {
  margin: 20px;
}

footer {
  background: #535353;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: center;
}

footer p {
  color: #DDDDDD;
}

/* footerのリンクの色〜〜 */
footer a:link {
  color: #DDDDDD;
}

footer a:visited {
  color: #DDDDDD;
}
footer a:hover {
  color: #DDDDDD;
}

footer a:active {
  color: #DDDDDD;
}
